import React from 'react';
import styles from './<%=ctx.camelizeName%>.scss';

const propTypes = {
  <%=ctx.camelizeName(false)%>: React.PropTypes.object.isRequired
}

class <%=ctx.camelizeName%> extends React.Component {

  render() {
    const mediaUrl = this.props.<%=ctx.camelizeName(false)%>.mediaUrl;

    return (
      <div className={styles.media}>
        <img className={styles.figure} src={mediaUrl} alt="" />
        <div className={styles.body}>
          <div className={styles.title}>
            {this.props.<%=ctx.camelizeName(false)%>.title}
          </div>
          <div className={styles.description}>
            {this.props.<%=ctx.camelizeName(false)%>.description}
          </div>
        </div>
      </div>
    );
  }
}

<%=ctx.camelizeName%>.propTypes = propTypes;

module.exports = <%=ctx.camelizeName%>;
